@model List<Reservation>
@{
    ViewData["Title"] = "MyApprovalReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    int count = 0;
}

@if (!Model.Any())//Eğer modelin içinde "geçmiş rezervasyon" yoksa; 
{
    <br />
    <br />
    <span style="color:darkslategray; margin-left:25px"><b>Geçmiş Rezervasyon Bulunmamaktadır.</b></span>//Yazdır...
    <br />
    <br />
}
else
{
    <h3>Geçmiş Rezervasyonlar</h3>
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Lokasyon</th>
            <th>Kişi Sayısı</th>
            <th>Rezervasyon Tarihi</th>
            <th>Durum</th>
        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.Destination.City</td>
                <td>@item.PersonCount</td>
                <td>@item.ReservationDate.ToShortDateString()</td>
                <td>@item.Status..</td>
            </tr>
        }
    </table>


}

